# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,txt}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = off

[*.sh]
max_line_length = 79
keep_padding = true
space_redirects = true
switch_case_indent = true
